.Articles {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.Articles > * {
	height: calc(100vh/5);
	width: calc(100vw/6);
	transition: transform 0.5s, top 0.5s, bottom 0.5s, left 0.5s, right 0.5s;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: sticky;
}

.Articles:not(:focus-within) > *:hover,
.Articles > *:focus {
	transform: scale(1.5);
	z-index: 1;
	top: calc(25vh/5);
	bottom: calc(25vh/5);
	left: calc(25vw/6);
	right: calc(25vw/6);
}

.Article__thumb {
	object-fit: cover;
}
